<section class="section-container -animation-trigger {% if loop.last %}Pb(10rem){% endif %}">
	<div class="full-block content -narrow">
		<div class="grid-x">
			<div class="small-12 medium-4 cell">
				<h2 class="fade-right">{{ block.headline }}</h2>
			</div>
			<div class="small-12 medium-7 medium-offset-1 cell fade-up transition-delay-3">
				{{ block.copy }}
			</div>
		</div>
	</div>
</section>
