{% set headline = hero.headline ?? entry.title %}
{% set copy = hero.copy ?? '' %}
<section class="page-banner -animation-trigger -centered-both" style="background-image: url('{{ siteUrl }}assets/images/pattern.svg');">
	<div class="floating-box fade-up transition-delay-2 Mt(0px)!--sm">
		<h1 class="-center fade-up transition-delay-4">{{ headline|nl2br }}</h1>
		{% if copy|length %}
			<div class="grid-x align-center">
				<div class="small-12 medium-6 cell">
					<p class="top-spacer fade-up transition-delay-5">{{ copy|nl2br }}</p>
				</div>
			</div>
		{% endif %}
	</div>
</section>
